.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/uiDesigner.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/misc.xml
.idea/gradle.xml
.idea/jsonSchemas.xml
.idea/vcs.xml
.idea/workspace.xml
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

##gitlab-ci-local runner
 .gitlab-ci-local/*
 .gitlab-ci-local
 .gitlab-ci-local/
.gitlab-ci-local/builds/.docker
.gitlab-ci-local
htmlReport
org.jacoco.report-0.8.12.202403310830.jar
org.jacoco.ant-0.8.12.202403310830.jar
org.jacoco.agent-0.8.12.202403310830.jar
jacocoagent.jar
jacococli.jar
jacocoant.jar

